body {
    background: ##ff22cf;
    background-image: url("../img/zenbg-1.png"), url("../img/zenbg-2.png");
    background-repeat: repeat-y, repeat;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif
}

.w3-row-padding img {
    margin-bottom: 12px
}


/* Set the width of the sidebar to 120px */

.w3-sidebar {
    width: 120px;
    background: #222;
}


/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */

#main {
    margin-left: 120px
}


/* Remove margins from "page content" on small screens */

@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}

.animated-bg-btn:nth-child(2) {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, black), color-stop(50.001%, red));
}

.animated-bg-btn:nth-child(3) {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, black), color-stop(50.001%, blue));
}

.animated-bg-btn:nth-child(4) {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, black), color-stop(50.001%, green));
}

.animated-bg-btn:nth-child(5) {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, black), color-stop(50.001%, yellow));
}

.animated-bg-btn {
    display: inline-block;
    position: relative;
    padding: 2px 5px;
    background-size: 200% 100%;
    background-position: 0 0;
    -webkit-transition: background-position .3s ease-out;
    min-height: 17vh;
}

.animated-bg-btn:hover {
    background-position: -100% 0;
}

.animated-bg-btn span p {
    display: none;
}

.contact-card {
    padding: 0px;
    margin: 0px;
    min-height: 15vh;
}


hr.style15 {
    border-top: 4px double #8c8b8b;
    text-align: center;
}

hr.style15:after {
    content: '\002764';
    display: inline-block;
    position: relative;
    top: -0.75em;
    color: #b50000;
    font-size: 2.5em;
}

.vh100 {
    min-height: 100vh;
}


#logoContainer, #logoContainerMobile {
    height: 200px;
    width: 200px;
    opacity: 0;
    border-radius: 1000px;
    box-shadow: 0px 0px 20px 0px #000 inset;
    position: fixed;
    top: calc(50vh - 100px);
    left: calc(50vw - 100px);
}

#logoText{
    vertical-align: middle;
    font-size: 4rem;
    line-height: 175px;
    font-family: MONOSPACE;
    color: #403d3f;
    opacity: 0;
}

@media only screen and (max-width: 500px) {
    #logoContainer, #logoContainerMobile  {
        top: calc(50vh - 120px);
        left: calc(50vw - 120px);
    }
}

.logoImg {
    height: 100%;
    float: left;
}

.doExpand{
    animation: logoExpand 0.5s;
    animation-fill-mode: forwards;
}

@keyframes logoExpand {
    from {
        width: 200px;
        top: calc(50vh);
    }
    to {
        width: 600px;
        border-radius: 10px;
        top: calc(50vh);
        left: calc(50vw);
    }
}

.spinner {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 250ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}


@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}